@charset "utf-8";
*, *:before, *:after { -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box; }
html { cursor:default; }
body { margin:0; font-family:'microsoft yahei','helvetica neue',helvetica,sans-serif; font-size:14px; color:#000; line-height:142%; text-rendering:optimizelegibility; -webkit-font-smoothing:antialiased; -ms-content-zooming:none; }
h1, h2, h3, h4, h5, h6 { font-family:'microsoft yahei','helvetica neue',helvetica,sans-serif; }
a:hover { text-decoration:none; }

input::-webkit-input-placeholder { color:#c0c0c0; }
input::-moz-placeholder { color:#c0c0c0; }
input:-ms-input-placeholder { color:#c0c0c0; }
input::-ms-clear{ display:none; }
::-moz-selection { background:#b0c923; color:#fff; text-shadow:none; }
::selection { background:#b0c923; color:#fff; text-shadow:none; }
::-webkit-scrollbar { width:17px; height:17px; background-color:#f0f0f0; border:none; }
::-webkit-scrollbar-thumb { background-color:#cdcdcd; border:1px solid #f0f0f0; }
::-webkit-scrollbar-thumb:hover { background-color:#dadada; }
::-webkit-scrollbar-thumb:active { background-color:#606060; }
::-webkit-scrollbar-thumb:disabled { background-color:#f9f9f9; }
::-webkit-scrollbar-corner { background-color:#f0f0f0; }
::-webkit-scrollbar-button { background-color:#f0f0f0; background-image:url(../img/controls.png); background-repeat:no-repeat; }
::-webkit-scrollbar-button:vertical { height:33px; }
::-webkit-scrollbar-button:horizontal { width:33px; }
::-webkit-scrollbar-button:horizontal:increment { background-position:0 -444px; }
::-webkit-scrollbar-button:horizontal:decrement { background-position:12px -425px; }
::-webkit-scrollbar-button:vertical:increment { background-position:-1px -391px; }
::-webkit-scrollbar-button:vertical:decrement { background-position:-1px -358px; }
::-webkit-scrollbar-button:hover { background-color:#dadada; }
::-webkit-scrollbar-button:horizontal:increment:hover { background-position:0 -548px; }
::-webkit-scrollbar-button:horizontal:decrement:hover { background-position:12px -529px; }
::-webkit-scrollbar-button:vertical:increment:hover { background-position:-1px -495px; }
::-webkit-scrollbar-button:vertical:decrement:hover { background-position:-1px -462px; }
::-webkit-scrollbar-button:active { background-color:#606060; }
::-webkit-scrollbar-button:horizontal:increment:active { background-position:0 -652px; }
::-webkit-scrollbar-button:horizontal:decrement:active { background-position:12px -633px; }
::-webkit-scrollbar-button:vertical:increment:active { background-position:-1px -599px; }
::-webkit-scrollbar-button:vertical:decrement:active { background-position:-1px -566px; }
::-webkit-scrollbar-button:disabled { background-color:#f9f9f9; }
::-webkit-scrollbar-button:horizontal:increment:disabled { background-position:0 -756px; }
::-webkit-scrollbar-button:horizontal:decrement:disabled { background-position:12px -737px; }
::-webkit-scrollbar-button:vertical:increment:disabled { background-position:-1px -703px; }
::-webkit-scrollbar-button:vertical:decrement:disabled { background-position:-1px -670px; }
/*input[type=text], input[type=password], input[type=email], input[type=number], input[type=tel], textarea { padding:4px 8px; font-family:'microsoft yahei','helvetica neue',helvetica,sans-serif; font-size:12px; color:#000; border:1px solid #bababa; }*/
input[type=text]:hover, input[type=password]:hover, input[type=email]:hover, input[type=number]:hover, input[type=tel]:hover, textarea:hover { border-color:#8f8f8f; }
input[disabled] { -webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none; }
select { -webkit-appearance:none; -ms-appearance:none; padding-left:5px; /*padding-right:23px;*/ border:1px solid #bababa; line-height:normal; background-image:url(../img/select_down_arrow.png); background-repeat:no-repeat; background-position:right center; background-color:#fff; }
select:hover { border-color:#8f8f8f; }
select:focus { outline:0; }

.header { min-width:964px; height:40px; color:#fff; background:#b0c923; }
.header a { color:#fff; text-decoration:none; }
.header a:hover { background:rgba(0,0,0,.12); }
.caret { width:auto; height:auto; margin-left:0; vertical-align:top; border:0; }
.logo { float:left; padding-left:10px; height:40px; min-width:170px; }
.logo h1 { float:left; display:inline-block; margin:0; height:40px; font-size:22px; font-weight:normal; line-height:36px; }
.logo h1 a { float:left; display:inline-block; padding:0 5px; height:40px; }
.logo .icon { float:left; display:block; height:40px; }
.logo .icon-1 { width:42px; background:url(../img/logo_icons_strip.png) no-repeat 0 0; }
.logo .icon-2 { width:32px; background:url(../img/logo_icons_strip.png) no-repeat -42px 0; }
.logo .icon-3 { width:32px; background:url(../img/logo_icons_strip.png) no-repeat -74px 0; }
.logo .icon-4 { width:46px; background:url(../img/logo_icons_strip.png) no-repeat -106px 0; }
.btn { padding:0; width:60px; height:25px; font-size:12px; line-height:25px; border:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; cursor:pointer; }
.btn:hover, .btn:focus, .btn:active, .btn.active { -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; }
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active { color:#000; background:#ebebeb; }
.btn-green, .btn-green:hover, .btn-green:focus, .btn-green:active, .btn-green.active { color:#fff; background:#b0c923; }
.row * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }
.popover { width:260px; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; background-clip:border-box; }
.popover-title, .popover .arrow, .popover .arrow:after { display:none; }
.popover-content { padding:10px; }

.logo .title { padding:0 5px; white-space:nowrap; }
.logo .seperator { position:relative; float:left; display:block; }
.logo .seperator i { position:absolute; top:10px; width:1px; height:20px; display:inline-block; border-left:1px solid #fff; opacity:.65; filter:alpha(opacity=65); }
.logo .caret { position:relative; float:left; display:block; margin-left:1px; padding:0; width:28px; }
.logo .caret i { position:absolute; top:15px; left:8px; display:block; width:11px; height:9px; background:url(../img/c5.png) no-repeat -92px -33px; }
.operation-nav { float:left; margin:0; padding:0 0 0 10px; height:40px; overflow:hidden; }
.operation-nav li { display:inline-block; }
.operation-nav li a { display:inline-block; padding:0 10px; height:40px; line-height:40px; }
.operation-nav li a .icon { position:relative; float:left; margin-right:4px; width:26px; height:40px; }
.operation-nav li a .icon-create i { position:absolute; top:7px; left:0; display:block; width:26px; height:26px; background:url(../img/command.png) no-repeat -1px -1px; }
.operation-nav li a .caret { padding:0 0 0 4px; }
.operation-nav li a .caret i { display:inline-block; width:8px; height:8px; background:url(../img/c5.png) no-repeat -114px -33px; }
.user { float:right; padding-right:10px; height:40px; }
.user a { display:inline-block; height:30px; padding:5px 10px; }
.user-name { display:inline-block; vertical-align:middle; padding-top:1px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:200px; }
.user-avatar { display:inline-block; margin-left:10px; width:30px; height:30px; background:#fff; }
.user-avatar img { width:30px; height:30px; }

.base { position:absolute; top:40px; bottom:0; left:0; right:0; width:100%; min-width:964px; overflow-y:auto; overflow-x:visible; }
.column-header { position:relative; margin:40px 0 0; height:64px; overflow:hidden; }
.column-content { position:absolute; top:105px; left:0; right:0; overflow-x:hidden; overflow-y:scroll; }
.column-footer { position:absolute; left:0; right:0; }

.header-title { line-height:60px; }
.set-title { display:inline; margin:0; padding:0 20px 0 0; font-size:24px; vertical-align:1px; }
.set-breadcrumb-bar { display:inline; font-size:12px; color:#666; }
.set-breadcrumb-bar a { color:#000; }
.set-breadcrumb-bar a:hover { color:rgba(0,0,0,.8); }
.set-breadcrumb-bar ul, .set-breadcrumb-bar li { margin:0; padding:0; display:inline; }
.set-breadcrumb-bar .caret { padding:0 8px; }
.set-breadcrumb-bar .caret i { display:inline-block; width:6px; height:8px; background:url(../img/c5.png) no-repeat -192px -17px; vertical-align:-2px; }
.header-buttons { position:absolute; right:0; top:0; font-size:12px; color:#999; }
.fill-content { position:absolute; left:0; width:100%; height:100%; }
.fill-content table { position:absolute; left:0; width:100%; height:100%; padding:0; border-spacing:0; }

.full-column { position:absolute; top:0; bottom:0; left:0; right:0; }
.full-column .column-header { margin:40px 60px 0; }
.full-column .column-content { bottom:195px; margin:0 60px; max-height:522px; border:1px solid #d2d2d2; }
.full-column .column-footer { bottom:80px; margin:0 60px; }
.full-column .header-buttons { margin:12px 20px 0 0; }
.full-column .header-buttons .btn { height:30px; min-width:120px; line-height:30px; }
.full-column .header-buttons .btn-group { margin-right:10px; }
.full-column .header-buttons .btn-group .btn { height:28px; min-width:60px; line-height:28px; color:#666; background:#f8f8f8; border:1px solid #d2d2d2; }
.full-column .header-buttons .btn-group .btn:active, .full-column .header-buttons .btn-group .active { color:#000; background:#fff; }
.full-column .fill-content table.calendar { position:static; height:100%; height:520px; font-size:12px; color:#aaa; }
.full-column .fill-content table.calendar td { padding:0; border-right:1px solid #d2d2d2; border-bottom:1px solid #d2d2d2; line-height:normal; } 
.full-column .fill-content table.calendar td:first-child, .full-column .fill-content table.calendar td:last-child { background:#f7fae9; background-clip:padding-box; }
.full-column .fill-content table.calendar tr:last-child td { border-bottom:0; }
.full-column .fill-content table.months td { position:relative; width:14.285%; height:104px; vertical-align:top; box-sizing:border-box; line-height:normal; }
.full-column .fill-content table.months td .more { position:absolute; right:0; bottom:0; width:30px; height:16px; overflow:hidden; color:#666; font-size:12px; line-height:16px; text-align:center; background:#d7d7d7; opacity:0; -webkit-transition:opacity .15s linear; -moz-transition:opacity .15s linear; -ms-transition:opacity .15s linear; transition:opacity .15s linear; }
.full-column .fill-content table.months td:hover .more { opacity:1; }
.full-column .fill-content table.months td .date { height:22px; overflow:hidden; line-height:22px; }
.full-column .fill-content table.months td .date .col-md-6 { padding:0 20px; }
.full-column .fill-content table.months td .event { color:#000; max-height:82px; overflow:hidden; }
.full-column .fill-content table.months td .event ul { margin:0; padding:5px 0; min-height:72px; list-style:none; background:#fff; }
.full-column .fill-content table.months td .event ul li { margin-bottom:3px; padding:0 20px; line-height:normal; cursor:pointer; }
.full-column .fill-content table.months td .event ul li .people, .full-column .fill-content table.months td .event ul li .time { white-space:nowrap; text-overflow:ellipsis; overflow:hidden; max-width:120px; }
.full-column .fill-content table.months td .event ul li .time { color:#666; }
.full-column .fill-content table.months td .event ul li.active { background:#ebebeb; }
.full-column .fill-content table.months td .event ul li:last-child { margin-bottom:0; }
.full-column .fill-content table.months td.today { color:#fff; background:#d7e492; }

.new-schedule .row { margin:0 -5px; }
.new-schedule .row .col-md-3, .new-schedule .row .col-md-6, .new-schedule ul li .row .col-md-9 { padding:0 5px; }
.new-schedule .row .col-md-3 .btn { width:100%; max-width:100%; }
.new-schedule ul { margin:0 0 40px; padding:0; list-style:none; }
.new-schedule ul li { margin-bottom:10px; }
.new-schedule ul li label { display:block; margin:0 2px 2px; font-size:12px; font-weight:normal; }
.new-schedule ul li select { width:100%; }
.new-schedule ul li input[type=text] { padding:0 8px; width:100%; height:25px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; border:1px solid #bababa; }
.new-schedule ul li input[disabled], .new-schedule ul li input[disabled]:hover { color:#000; background:#fff; border-color:#bababa; }
#add-nurses { display:none; padding:9px 14px; font-size:12px; }
#add-nurses .modal-dialog { margin-top:40%; width:420px; }
#add-nurses .modal-content { margin-top:-50%; border:0; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; -webkit-box-shadow:none; -moz-box-shadow:none; box-shadow:none; background-clip:padding-box; }
#add-nurses ul { margin:0 0 40px; padding:0; list-style:none; }
#add-nurses ul li { margin-bottom:10px; }
#add-nurses label { display:block; margin:0 0 10px; font-weight:normal; }
#add-nurses .btn { margin-left:8px; }

.header-bar { position:absolute; top:-206px; left:0; right:0; z-index:9999999; background:#1d1d1d; background:rgba(0,0,0,.95); padding:37px; -o-transition:top .25s ease; -moz-transition:top .25s ease; -ms-transition:top .25s ease; -webkit-transition:top .25s ease; transition:top .25s ease; }
.header-bar ul { list-style:none; margin:0 auto; padding:0 0 0 7px; width:523px; height:126px; }
.header-bar a, .header-bar li { display:block; float:left; margin-right:10px; margin-bottom:6px; width:120px; height:120px; color:#fff; background:#666; box-sizing:content-box; }
.header-bar a { position:relative; border:3px solid #1d1d1d; }
.header-bar a:hover { border:3px solid #4a4a4a; text-decoration:none; }
.header-bar a:active { border:3px solid #fff; }
.header-bar a span { display:block; position:absolute; bottom:10px; left:10px; font-size:12px; line-height:110%; width:100px; text-align:center; }
.header-bar a span.icon { bottom:0; left:0; max-width:100%; width:120px; height:120px; }
.header-bar a span.icon-1 { background:#32afc5 url(../img/logos3.png) no-repeat 0 0; }
.header-bar a span.icon-2 { background:#86b83b url(../img/logos3.png) no-repeat -121px 0; }
.header-bar a span.icon-3 { background:#fb5e4b url(../img/logos3.png) no-repeat -242px 0; }
.header-bar a span.icon-4 { background:#9a65e9 url(../img/logos3.png) no-repeat -363px 0; }

.footer { position:absolute; bottom:0; left:0; right:0; padding:0 20px; height:30px; font-size:12px; color:#acacac; text-align:center; line-height:30px; border-top:1px solid #ccc; }